@import url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css');
@import url('https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css');
.demo-list-action {
  width: 300px;
}

body {
  padding: 20px;
  background: #fafafa;
  position: relative;
}
